<div id="particles-js"></div>
<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <img
          src="/assets/LOGO-SEEKR-2.jpg"
          style="
            height: 2.5em;
            width: 5.3em;
            margin-left: 0.4em;
            cursor: pointer;
          "
          id="logo"
        />
      </li>
      {{!-- Only show these if logged on... can change if we dont like --}}
      {{#if login }}
      <li>
        <a href="/job-board">View Job Board</a>
      </li>
      <li><a href="/stats">Application Stats</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/about-us">About Us</a></li>
      {{/if}}
      {{#if login }}
      <a href="/logout" style="position: absolute; right:0;">Logout</a>
      {{ else }} 
      <a href="/login" style="position: absolute; right:0;">Login</a>
      {{/if }}

      {{!--
      <li style="position: absolute; right: 0"><a href="/login">Login</a></li>
      --}}
      {{!-- <li style="position: absolute; right: 0">
        <a href="/logout" id="loginLogout">Logout</a>
      </li> --}}
    </ul>
  </div>
</div>

<div class="wrapper">
  <h1> Our Team </h1>
  <div class="team">
    <div class="team-member">
      <h4>David Pan</h4>
      <p class="role">Developer</p>
      <p>David tackles a lot of front end also</p>
    </div>
    <div class="team-member">
      <h4>Andrew Siegel</h4>
      <p class="role"> Developer</p>
      <p>Andrew tackles a lot of the front and back end</p>
    </div>
    <div class="team-member">
      <h4>Magrish Bala</h4>
      <p class="role"> Developer</p>
      <p>Magrish's role tackles front end issues</p>
    </div>
    <div class="team-member">
      <h4>Sydney Buchanan</h4>
      <p class="role"> Developer</p>
      <p> Syd's role</p>
    </div>
  </div>


</div>
<blockquote class="blockquote blockquote--bordered" style="justify-content: center;">
  <p class="blockquote-text">
    Helping you stay organized throughout your job search
  </p>
  <p class="blockquote-text--credit">Our Mission</p>
  <a href="/"><img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.3em; width: 5.3em; margin-center:0.4em"></li></a>
</blockquote>





<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script src="/assets/js/particlesHomePage.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  

</script>