<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.3em; width: 5.3em; margin-left:0.4em" id="logo"></li>
      <li>
        <a href="#Item-1">Get Started</a>

      </li>

      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div id="particles-js"></div>
  <h1> Our Team </h1>
  <div class="team">
    <div class="team-member">
      <h4>David Pan</h4>
      <p class="role">Developer</p>
      <p>David'srole</p>
    </div>
    <div class="team-member">
      <h4>Andrew Siegal</h4>
      <p class="role"> Developer</p>
      <p>Andrew's role</p>
    </div>
    <div class="team-member">
      <h4>Magrish Bala</h4>
      <p class="role"> Developer</p>
      <p>Magrish's role</p>
    </div>
    <div class="team-member">
      <h4>Sydney Buchanan</h4>
      <p class="role"> Developer</p>
      <p> Syd's role</p>
    </div>
  </div>

</div>
<blockquote class="blockquote blockquote--bordered">
  <p class="blockquote-text">
    "It is never too late to be what you might have been.”
  </p>
  <p class="blockquote-text--credit">George Eliot</p>
</blockquote>





<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script src="/assets/js/particles.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  const logo = $("#logo");
  logo.on("click", function (event) {
    location.replace("/");
  });

</script>