<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.3em; width: 5.3em; margin-left:0.4em"></li>
      <li>
        <a href="#Item-1">Get Started</a>

      </li>

      <li><a href="#Item-3">Resources</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </div>
  <div class="container custom-container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Our Mission Statement</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <span>
          Millions of students graduate from college each year only to be stuck sifting through applications and
          possible job positions. This is a very tedious task and if presented to a novice applicant, it can become very
          challenging. Because of the vast amount of people worldwide, filling an open spot should be a breeze, right?
          Not exactly. Sometimes you can post an open position on a job board and hear crickets for days or even weeks.
          That is where Seekr comes in! Our mission is to help employers and job SEEKrs alike stay organized in their
          job search.

        </span>
      </div>
    </div>
  </div>
  <img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.3em;width: 5em; margin-left:0.4em">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>