<div id="particles-js"></div>
<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <img
          src="/assets/LOGO-SEEKR-tiny.jpg"
          style="
            height: 2.5em;
            width: 5.3em;
            margin-left: 0.4em;
            cursor: pointer;
          "
          id="logo"
        />
      </li>
      <li>
        <a href="/job-board">View Job Board</a>
      </li>
      <li><a href="/stats">Application Stats</a></li>
      <li><a href="/favorites">Starred Jobs</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/logout" style="position: absolute; right: 0">Logout</a></li>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    {{#each jobs}}
    {{#if starred}}
    <div class="cell">
      <div class="card">
        <div class="card-divider"></div>
        <div class="card-section">
          <button class="button tiny">Write Notes</button>
          <h4>{{ this.jobName }}</h4>
          <p>{{ this.company }}</p>
          <p>{{ this.stage }}</p>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="/assets/js/particlesHomePage.js"></script>