{{!--
<!-- This demo uses float grid but you can use flex grid too -->

<div class="row">
  <div class="columns">
    <h2>Horizontal Dropdown Menu</h2>
    <p>
      <strong>Set up:</strong> Dropdown menus build on the
      <a href="foundation.zurb.com/sites/docs/">Menu</a> component's syntax. Add
      the class <code>.dropdown</code> and the attribute
      <code>data-dropdown-menu</code> to the menu container to set up the
      dropdown.
    </p>
    <p>
      <strong>Activate:</strong> To create dropdown menus, nest a new
      <code>&lt;ul&gt;</code> inside an <code>&lt;li&gt;</code>. You can nest
      further to create more levels of dropdowns.
    </p>
    <div class="primary callout">
      <p>
        Note that the <code>&lt;ul&gt;</code> goes <em>after</em> the
        <code>&lt;a&gt;</code>, and not inside of it.
      </p>
    </div>
  </div>
</div>
--}}
<div id="particles-js"></div>
<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <img
          src="/assets/LOGO-SEEKR-2.jpg"
          style="
            height: 2.5em;
            width: 5.3em;
            margin-left: 0.4em;
            cursor: pointer;
          "
          id="logo"
        />
      </li>
      <li>
        <a href="/job-board">View Job Board</a>
      </li>
      <li><a href="/stats">Application Stats</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/about-us">About Us</a></li>
      {{!--
      <li style="position: absolute; right: 0"><a href="/login">Login</a></li>
      --}}
      {{!-- <li style="position: absolute; right: 0">
        <a href="/logout" id="loginLogout">Logout</a>
      </li> --}}
    </ul>
  </div>
</div>

<div class="top-card callout primary" data-closable>
  <h5>Your Future is in Your Hands</h5>
  <p>
    Take control of your job search. Keep track of your prospects and
    action-steps.
  </p>
  <a target="_blank" href="https://res.cloudinary.com/teepublic/image/private/s--4gi5M-kB--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1446207719/production/designs/162998_0.jpg">It's dangerous to go alone, take this.</a>
  <button
    class="close-button"
    aria-label="Dismiss alert"
    type="button"
    data-close
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{!-- <div class="imageDiv callout large">
    <img src="https://dynamicbusiness.com.au/wp-content/uploads/2019/01/Employees.jpg" alt="fun-workplace">
    {{!-- <button class="homePageChoice button" id="employers">Employers <br>Click here!</button> --}}
</div> 

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
    {{!-- <div class="orbit-wrapper"> --}}
    {{!-- <div class="orbit-controls"> --}}
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    
    <li class="orbit-slide is-active">
        <img class="orbit-image" src="/assets/LOGO-SEEKR.jpg" alt="SEEKR">
        <figcaption class="orbit-caption">SEEKR</figcaption>
    </li>
    <li class="orbit-slide" >
        <img class="orbit-image" style="content-align:center">    
        <img src="https://dynamicbusiness.com.au/wp-content/uploads/2019/01/Employees.jpg" alt="fun-workplace" style="height:30em; width:60em">
        <figcaption class="orbit-caption">Your Workspace, Your Move</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" style="content-align:center">    
        <img src="https://ae01.alicdn.com/kf/HTB1enH.JFXXXXaXXpXXq6xXFXXX3/Custom-photo-wallpaper-New-York-skyscraper-murals-for-apartments-residential-office-background-wall-waterproof-wallpaper.jpg" alt="fun-workplace" style="height:30em; width:60em">
        <figcaption class="orbit-caption">Take controll of you CITY!</figcaption>
    </li>
    <li class="orbit-slide"">
        <h1 class="text-center" style="color: blue; font:bold">DON'T LOSE YOUR DREAM JOB!</h1>
        <p class="text-center"style=" color: #8cb7d3;">Take control of your job process by easily managing your job applications. Log all of your applictions from start to finish and know every step of your hiring process! Click "View Job Board" to access the Job Board and post all of your applicaitons through our easy interfaces. Click and drag your application though the steps and NEVER lose track of you OPPRATUNITIES! You've worked this had to get the knowledge needed to start a career, don't quite by trying to find a job.</p>
        <h2 class="text-center" style="color: steelblue;">MANAGE YOUR APPLICATIONS WITH EASE</h2>
        <br>
        <br>
        <br>
        <br>
        <figcaption class="orbit-caption">WELCOME TO SEEKR</figcaption>

    </li>
      {{!-- </div> --}}
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>


<div style="position: relative; width:100%; text-align:center"> 
  <a href="/job-board"><button class="homePageChoice button" id="employees"><div id="get-started-text">View job board</div></button></a>
</div> 

{{!--
<div class="top-card callout primary" data-closable>
  <h5>Your Future is in Your Hands</h5>
  <p>
    Take control of your job search. Keep track of your prospects and
    action-steps.
  </p>
  <a href="#">It's dangerous to go alone, take this.</a>
  <button
    class="close-button"
    aria-label="Dismiss alert"
    type="button"
    data-close
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
--}}

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script src="/assets/js/particlesHomePage.js"></script>
<script>
  const loginLogout = $("#loginLogout");
  if (req.user) {
    console.log("logged in");
  } else {
    console.log("logged out");
  }
</script>
