{{!-- <!-- This demo uses float grid but you can use flex grid too -->

<div class="row">
  <div class="columns">
    <h2>Horizontal Dropdown Menu</h2>
    <p><strong>Set up:</strong> Dropdown menus build on the <a href="foundation.zurb.com/sites/docs/">Menu</a> component's syntax. Add the class <code>.dropdown</code> and the attribute <code>data-dropdown-menu</code> to the menu container to set up the dropdown.</p>
    <p><strong>Activate:</strong> To create dropdown menus, nest a new <code>&lt;ul&gt;</code> inside an <code>&lt;li&gt;</code>. You can nest further to create more levels of dropdowns.</p>
    <div class="primary callout">
      <p>Note that the <code>&lt;ul&gt;</code> goes <em>after</em> the <code>&lt;a&gt;</code>, and not inside of it.</p>
    </div>
  </div>
</div> --}}

<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.3em;width: 4.4em; margin-left:0.4em"></li>
      <li>
        <a href="#Item-1">Get Started</a>
        <ul class="menu">
          <li><a href="#Item-1A">See your prospects</a></li>
          <li>
            <a href="#Item-1B">Action-steps</a>
           
          </li>
          <li><a href="#Item-1C">Contact an advisor</a></li>
        </ul>
      </li>
      
      <li><a href="#Item-3">Resources</a></li>
      <li><a href="#Item-4">About Us</a></li>
    </ul>
  </div>
</div>

<div class="top-card callout primary" data-closable>
  <h5>Your Future is in Your Hands</h5>
  <p>Take control of your job search. Keep track of your prospects and action-steps.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  
</div>
<div class="imageDiv callout large">
    <img src="https://dynamicbusiness.com.au/wp-content/uploads/2019/01/Employees.jpg" alt="fun-workplace">
    <button class="homePageChoice button" id="employers">Employers <br>Click here!</button>
  <a href="/job-board"><button class="homePageChoice button" id="employees">Employees<br>Click here!</button></a>
</div>

{{!-- <div class="top-card callout primary" data-closable>
  <h5>Your Future is in Your Hands</h5>
  <p>Take control of your job search. Keep track of your prospects and action-steps.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  
</div> --}}


