<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#Item-1">Get Started</a>
        <ul class="menu">
          <li><a href="#Item-1A">See your prospects</a></li>
          <li>
            <a href="#Item-1B">Action-steps</a>
          </li>
          <li><a href="#Item-1C">Contact an advisor</a></li>
        </ul>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="#Item-4">About Us</a></li>
    </ul>
  </div>
</div>