  <div id="particles-js"></div>     
   <div class="grid-x margin-x" style="display: flex; align-items:center; justify-content:center; height: 100vh;">
      <div class="cell medium-3" id="login-form">
        {{!-- <form>
  <div class="sign-in-form">
    <h4 class="text-center">Sign In</h4>
    <label for="sign-in-form-username">Username</label>
    <input type="text" class="sign-in-form-username" id="sign-in-form-username">
    <label for="sign-in-form-password">Password</label>
    <input type="text" class="sign-in-form-password" id="sign-in-form-password">
    <button type="submit" class="sign-in-form-button">Sign In</button>
  </div>
</form> --}}
        <h2 class="text-center">Seekr</h2>
        <form class="login">
          <div class="form-group">
            <input type="email" class="login-form-username" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="login-form-password" id="password-input" placeholder="Password">
          </div>
          <div class="text-center">
            <button type="submit" class="login-button">Login</button>
          </div>
        </form>
        <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  <script src="/assets/js/particles.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
        // Getting references to our form and inputs
  var loginForm = $("form.login");
  var emailInput = $("input#email-input");
  var passwordInput = $("input#password-input");

  // When the form is submitted, we validate there's an email and password entered
  loginForm.on("submit", function(event) {
    event.preventDefault();
    var userData = {
      email: emailInput.val().trim(),
      password: passwordInput.val().trim()
    };

    if (!userData.email || !userData.password) {
      return;
    }

    // If we have an email and password we run the loginUser function and clear the form
    loginUser(userData.email, userData.password);
    emailInput.val("");
    passwordInput.val("");
  });

  // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
  function loginUser(email, password) {
    $.post("/api/login", {
      email: email,
      password: password
    })
      .then(function() {
        window.location.replace("/");
        // If there's an error, log the error
      })
      .catch(function(err) {
        console.log(err);
      });
  }
  </script>