<div id="particles-js"></div>  
<div class="row">
  <div class="header columns">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><img src="/assets/LOGO-SEEKR-tiny.jpg" style="height: 2.5em; width: 5.3em; margin-left:0.4em;cursor:pointer" id="logo"></li>
      <li>
        <a href="/job-board">Get Started</a>
      </li>
      <li><a href="#Item-3">Resources</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/logout" style='position:absolute; right:0'>Logout</a></li>
    </ul>
  </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script src="/assets/js/particlesHomePage.js"></script>