.header {
  background: #d7ecfa;
}

.top-card {
  margin-top: 1%;
  justify-content: center;
  text-align: center;
}
img {
  width: 100vw;
  height: 34em;
}

.image {
  text-align: center;
  border-top: 0px;
}

#employers {
  position: absolute;
  right: 87%;
  top: 44%;
  height: 6em;
  width: 10em;
  /* opacity: 0.8; */
  box-shadow: 0 5px black;
}

#employees {
  position: absolute;
  right: 4%;
  top: 44%;
  height: 6em;
  width: 10em;
  /* opacity: 0.8; */
  box-shadow: 0 5px black;
}
