.header {
  background: #d7ecfa;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(0, 153, 255, 0.528);
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px 8px white inset;
}
span {
  color: rgba(0, 89, 255, 0.61);
  font-style: italic;
}
