<<<<<<< HEAD
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #273742;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}

.header {
  background: #142531;
  opacity: 0.875;
}
=======
@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d7ecfa;
  font-family: sans-serif;
  position: center;
}
.wrapper {
  margin-top: 10%;
}
.wrapper h1 {
  font-family: cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
}
.team .team-member {
  background: azure;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  line-height: 20px;
  color: black;
  position: relative;
}

.team .team-member h4 {
  color: black;
  font-size: 26px;
  margin-top: 50px;
  position: center;
}
.team .team-member p.role {
  color: #d7ecfa;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}
.blockquote--bordered {
  border-left-width: 10px;
}

.blockquote {
  position: center;
  max-width: 600px;
  margin: 10px 30px;
  padding: 25px;
  background: whitesmoke;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  font-family: italic;
  text-align: center;
}

.header {
  background: #d7ecfa;
}
.logo {
}
>>>>>>> 328d5798cbc056f94383073cfa89a243d6182f99
