/* ---- reset ---- */
body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #273742;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}