/* ---- reset ---- */
body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #273742;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}

.header {
  background: #142531;
  opacity: 0.875;
}

.top-card {
  margin-top: 1%;
  justify-content: center;
  text-align: center;
  background: #8cb7d3 !important;
  opacity: 0.875;
}

img {
  width: auto;
  height: auto;
  box-shadow: 0 0 8px 8px white inset;
}

.imageDiv {
  text-align: center;
  /* border-top: 0px; */
  border: 0px;
  background-color: #d7ecfa00;
}

.homePageChoice {
  transition: transform 0.2s;
}

.homePageChoice:hover {
  /* background: orange; */
  transform: scale(1.04);
  opacity: 1;
}

/* #employers {
  position: absolute;
  right: 82%;
  top: 30%;
  height: 12em;
  width: 15em;
  opacity: 0.8;
  box-shadow: 0 5px rgb(19, 32, 102);
  border-radius: 5px;
} */

#employees {
  height: 6em;
  width: 70em;
  opacity: 0.8;
  box-shadow: 0 5px rgb(19, 32, 102);
  border-radius: 5px;
}

#get-started-text {
  font-size: 1.3rem;
  font-weight: 600;
}

/* BEGIN JOB-BOARD PAGE ===========================================================================================*/

.kanban {
  background: #8cb7d3;
  cursor: grab;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 7px;
  padding-left: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-section {
  /* text-align: center; */
  padding: 0rem;
  /* background: #8cb7d3; */
  color: white;
}

.kanban:active {
  cursor: grabbing;
}

.kanban.dragging {
  opacity: 0.5;
  transform: scale(0.8);
}

#deleteBtn:hover {
  display: block;
  cursor: pointer;
}

.deleteBtn {
  margin: 0px;
  height: 2rem;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 30%;

  transform: translate(-70%, -50%);

  z-index: 5;
}

.kanban:hover .deleteBtn {
  visibility: visible;
}

.updateBtn {
  margin-bottom: 0px;
  height: 2rem;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 5;
}

.kanban:hover .updateBtn {
  visibility: visible;
}

/* .card-section:hover {
  filter: blur(3px);
} */

.currentCompany {
  color: rgb(240, 235, 235);
}

.saveBtn {
  height: 2rem;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 70%;

  transform: translate(-30%, -50%);

  z-index: 5;
}

.kanban:hover .saveBtn {
  visibility: visible;
}

/* Styling for each column in the job_board.handlebars page */
.cell-col {
  margin-top: 10px;
  height: 88vh;
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding: 10px;
  overflow-y: scroll;
  background-color: rgb(250, 249, 255);
}

.planning {
  /* background: #8cf9e3d0; */
  background: rgba(187, 187, 194, 0.788);
}

.applied {
  /* background: #8ce3f9ce; */
  background: rgba(156, 167, 185, 0.788);
}

.phone {
  /* background: #d58cfad2; */
  background: rgba(135, 164, 207, 0.788);
}

.onSite {
  /* background: #fe62b0cb; */
  background: rgba(94, 153, 209, 0.788);
}

.offers {
  /* background: #fe5d72d2; */
  background: rgba(62, 231, 113, 0.788);
}

.rejected {
  /* background: #fe4a4ace; */
  background: rgba(219, 79, 79, 0.788);
}

.cell-title {
  padding-left: 30px; /* we could probably figure out a better way to center this instead of using padding */
  padding-top: 10px;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.199);
  background-color: #8cb7d3;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  opacity: 0.885;
  margin-top: 10px;
}

.grid-container {
  margin-bottom: -10px;
}

::-webkit-scrollbar {
  display: none;
}

.job-card-title {
  font-weight: 600;
  /* height: 55%; */
  text-overflow: ellipsis;
  overflow: hidden;
}

.currentCompany {
  font-weight: 400;
}

.addNewProspect {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  font-size: medium !important;
  background: none;
  color: rgb(54, 54, 54);
  border-radius: 3px;
}

.save-message {
  color: rgb(255, 238, 0); 
  display: block; 
  position: absolute;
  right: 4%;
  bottom: 0; 
  font-size:1em;
  font-weight: 600;
}

